





.navegacao{

  
    /* display: block; */
    /* position: absolute; */
    width: 100%;
    /* height: var(--altura_cab); */
  
    /* top: 8rem; */
    z-index: 30;
    background: var(--cor-vermelho);
    border-radius: 3px;
    display: flex;
    /* flex-direction: column; */
    /* border: red 4px solid; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
  
    /* SITIO */
      /* display: flex;
      flex-direction: row;
      position: relative;
      height: var(--altura_bot);
  left:20%;
  align-content: space-around;
  /* border: 4px rgb(255, 169, 9) solid; 
  justify-content: space-evenly; */
  }
  




  .navegacao_rod{
    display: flex;
    flex-direction: column;
    position: relative;
    height: var(--altura_bot);
    height: 100%;
    /* margin-top: 0.75rem;
    margin-left: 0.75rem; */
    align-self: center;
    justify-self: center;
  /* left:20%; */
  /* align-content: space-between; */
  align-items: center;
  
  /* border: 4px rgb(255, 169, 9) solid; */
  padding: 3rem 0;
  justify-content: space-between;
  }

.carrossel{
    display: flex;
    flex-direction: row;
    width: 90vw;
    min-height: auto;
    align-self: center;
 
    justify-content: center;
    align-content: center; 
    justify-items: center;
    align-self: center;

    /* border: 2px var(--cor-1) solid; */

    margin-bottom: 1rem;
    /* margin-top: 6vh; */
  }


  
  .titulo_cardapio{
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* margin-bottom: 1.5rem; */
    text-align: center;
    /* border:1px rgb(59, 34, 5) solid; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 1000 ;
    font-family: Palatino;
    font-size: 35px;
    /* color:var(--cor-3); */
  }


  .navcardapio{

  
    /* display: block; */
    position: relative;
    position: fixed;
    /* z-index: 10; */
    width: 80vw;
    max-width: 750px;
    /* height: var(--altura_cab); */
  
    top: 0rem;
    align-self: center;   
    justify-content: left;
    background: var(--cor-vermelho);
    border-radius: 3px;
    display: flex;
    z-index: 2;
  overflow:scroll;
  overflow-y: hidden;
  /* border:10px orange solid; */
  }

.pagina{
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 6px;
width: 80vw ;
max-width: 750px;
/* position: relative; */
/* left: 40%; */
  /* border:2px red solid; */
  /* align-content: center; */
  align-self: center;   
  padding-top:2rem ;
  padding-bottom:1.6rem ;
  justify-content: center;
  background-color:rgb(255, 255, 255);
  /* text-align:center ; */
  box-shadow: 2px 4px 10px 2px rgb(0, 0, 0,0.6);
}



.conteudo_cardapio{

  margin: 0 4rem;
  /* border: black solid 1px; */

}





/* .caixatexto{
  display: grid; 
  grid-auto-flow: row dense; 
  grid-template-columns: 2fr; 
  grid-template-rows: 6fr 2.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "."
    "."; 
  width: 40.3%; 
  height: 36.7%; 
  /* border: forestgreen solid 2px; 
  } */


  .caixatexto{
    display: flex; 
    flex-direction: column;
    /* justify-items: center; */
    /* justify-content: center; */
    align-items: center;
    /* align-content: center; */
    width: 40.3%; 
    height: 36.7%; 
    /* border: forestgreen solid 2px; */
    }
    



  @media screen and (max-width: 700px) {
.cabecalho{
    height: auto;
}
.carrossel{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  /* width: 10vw; */
  /* border: red solid 2px */
}

.navcardapio{
/* top:20vh; */
width: 90vw;
z-index: 2;

}
.pagina{
  position: relative;
  top:20vh;
  width: 90vw;
}

.conteudo_cardapio{

  margin: 0 1.4rem;
  /* border: black solid 1px; */

}
  .navegacao{

    /* width: 100%; */
    height: var(--altura_nav_vert);
  
    /* top: 8rem; */
  
    background: var(--cor-vermelho);
    border-radius: 3px;
    display: block;
    all: none;
    /* border:green 2px solid; */
   }


   .navegacao_rod{

    /* width: 100%; */
    height: var(--altura_nav_vert);
  
    /* top: 60px; */
  
    /* background: var(--cor-vermelho); */
    border-radius: 3px;
    display: block;
    all: none;
    /* border:green 2px solid; */
   }



   .texto_grande{
    padding:1rem 2rem;
    position: relative;
    top: 0.5rem;
    left:0rem;
    width: 100%;
    /* border:orange 4px solid; */
    font-weight: 600;
  }



}