

.logo{
    /* align-self: center; */
    justify-self: center;
    margin-left:2rem;
    margin-right:2rem;
    /* margin-top: 0.2rem; */
    min-width: 16rem;
    /* height:  var(--altura_cab); */
    
    text-align: center; 
}

.logo:hover {
  /* height:  4.4rem; */
  background-color: var(--cor-vermelho-claro);
  /* color:var(--cor-2); */
  /* font-weight: 700; */
  /* border-radius: 10px; */

  /* text-shadow: 2px 2px 4px black; */
  /* opacity: 0.9; */
  transition: 0.2s ease-out;
  padding-bottom: 4px;
  /* transform: scale(1.03); */
  box-shadow: 0 0 10px 6px var(--cor-douradinho);
  color: #ffffff;
    font-weight: 1000;
    cursor: pointer;
    
  /* border:5px solid white; */
}


.botao_pag{
  
  /* font-family:League Mono Variable; */
  background-color: var(--cor-vermelho);
    min-width: 3rem;
    width: 10vw;
    /* color:var(--cor-2); */
    color: #ffffff;
    /* height: var(--altura_bot); */
    /* height: 10px; */
    height: var(--altura_bot);
      /* /* border-left:8px  rgb(255, 255, 255) solid; */
      /* border-right:  2px  rgb(83, 83, 83) solid;  */
  border-radius: 1px;
    align-content: center;
    justify-content: center;
    /* text-align: center;
    text-justify: auto; */
    margin:0 0.3rem;
    display: flex;
  align-items: center;

  text-align: center;
  font-weight: 900;
  /* border:4px solid white; */
  /* text-shadow: 1px 1px 2px rgb(255, 255, 255); */
}


.botao_pagCardapio{
  
  /* font-family:League Mono Variable; */
  background-color: var(--cor-vermelho);
  padding: 0 0.01rem ;
    min-width: 3rem;
    width: 10vw;
    min-width: 100px;
    /* color:var(--cor-2); */
    color: #ffffff;
    /* height: var(--altura_bot); */
    /* height: 10px; */
    height: var(--altura_bot);
      /* /* border-left:8px  rgb(255, 255, 255) solid; */
      /* border-right:  2px  rgb(83, 83, 83) solid;  */
  border-radius: 0px;
    align-content: center;
    justify-content: center;
    /* text-align: center;
    text-justify: auto; */
    margin:0 0rem;
    display: flex;
  align-items: center;

  text-align: center;
  font-weight: 900;
  /* border:4px solid white; */
  /* text-shadow: 1px 1px 2px rgb(255, 255, 255); */
}


.botao_pagCardapio:hover{
  
  /* border-radius: 10px; */
  /* text-shadow: 2px 2px 4px black; */
  /* opacity: 0.9; */
  border-radius: 0;
  transition: 0.2s ease-out;
  padding-bottom: 26px;
  /* transform: scale(1.03); */
  box-shadow: 2px 10px 10px 2px rgb(0, 0, 0);
 
 
   /* font-family:Le */
}

.botao_pag:hover {
  background-color: var(--cor-vermelho-claro-2);
  /* color:var(--cor-2); */
  /* font-weight: 700; */
  border-radius: 10px;
  /* text-shadow: 2px 2px 4px black; */
  /* opacity: 0.9; */
  transition: 0.2s ease-out;
  padding-bottom: 6px;
  /* transform: scale(1.03); */
  box-shadow: 0 0 10px 2px rgb(255, 249, 165);
  color: #ffffff;
    font-weight: 1000;
  /* border:5px solid white; */
}


.botao_titulo_sobe{
background-color: var(--cor-vermelho);
display: inherit;
height: 95%;
width: 95%;
border-radius: 8px;
justify-content: center;
text-align: center;
justify-items: center;
align-items: center;
}
/* titulo */
.busca{
    position: relative;
    left:20%;
    min-width: 3rem;
    width: 10vw;
    /* height: 4rem; */
    border: 2px pink solid;
    align-items: center;
    align-content: unset;
    justify-content: flex-end;
    /* text-align: center;
    text-justify: auto; */
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: var(--altura_bot);
}

/* fazer ele um componente que aceita props, entao vai ser centralizado ou na esquerda, ou largura total, ou largura 60%, altura, etc */



.cartao_3_titulo{
  /* width: 50%;  */
  /* text-align: end; */
  font-family:  League Mono Variable;
  /* font-family: Palatino; */
  font-weight: 1000;
  font-style: italic;
  -webkit-font-feature-settings: on;
  -moz-font-feature-settings: on;
  font-feature-settings: on;
  font-stretch: 200%;
  /* border:1px blue solid; */
  background-color: var(--cor-vermelho);
  height: 8rem;
  position: relative;
  top:6rem;
  border-top-right-radius:20px ;
  border-top-left-radius:20px ;

}

.cartao_3{
  /* height: 20% ; */
  width: 35%;  
  min-width: 300px;
  text-align:center ;
  /* word-wrap: break-word; */
  /* justify-items: center; */
  /* height: 8rem; */
  /* padding-top: 0.4rem; */
  font-size: 1.6rem;
  margin-top: 0;
  /* border-right:1px rgb(59, 34, 5) solid; */
  /* border-bottom:1px rgb(59, 34, 5) solid; */
  /* border-left:1px rgb(59, 34, 5) solid; */

  /* background-color: rgb(255, 255, 255); */
  border-radius: 10px;
  color:var(--cor-3);
  color:white;
  /* margin:0rem 0  0 2rem; */
  position: relative;
  /* left:-1%; */
  scroll-behavior: smooth;
  /* justify-content: center; */
  
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
 
  /* rotate3d(x, y, z, a); */
  /* box-shadow: 1px 2px 2px 5px  black; */
  /* box-shadow: 0 0 15px 1px rgb(211, 211, 211); */
  /* box-shadow: inset 0 0 15px 5px rgba(0,0,0,0.75); */

}

.cartao_3:hover{
/* background-color: rgb(255, 211, 161); ; */
/* opacity: 0.95; */
  /* transition: 0.3s ;
  transition: 0.2s ease-out;
  padding-bottom: 4px; */
  /* transform: scale(1.03); */
  /* box-shadow: 0 0 10px 6px rgb(255, 249, 165); */
  /* transform: rotate3d(0.1, 0.1, 0, 1); */
  /* transform: rotate3d(1,-0.3,-0.1,-10deg); */
  /* box-shadow: inset 0 10px 15px 5px rgba(0,0,0,0.75); */
}

.cartao_3_img{
  object-fit: cover;
  position: relative;
  top:0.92rem;
  border-bottom-left-radius: var(--radius-peq);
  border-bottom-right-radius: var(--radius-peq);
    /* box-shadow:  0 10px 15px 5px rgba(0,0,0,0.75); */
}
.conteudo_cartao_3{
  /* /* margin-top: 1rem;
  margin-left: 1rem; 
  text-align: center;
  align-self: center;
  max-width: 300px;
  /* padding: 0.8rem ; 
font-size: 1rem;
color:rgb(46, 46, 46);
text-align: left; 
font-family:   sans-serif, Georgia, sans-serif;
font-weight: 600;
/* background-color: whitesmoke*/
/* border:1px red solid; 
position: relative;
left:9%; */
} 



.divisoria{
  /* position: relative; */
  top: 1.5rem;
  margin-left: 10rem;
  margin-top: 1.5rem;
  height: 20rem; 
  width: 0.4rem;
  background-color:var(--cor-azul) ;
  border: 1px solid  var(--cor-azul);
}





.botao_rod{
  
  min-width: 3rem;
  width: 10vw;
  color: #ffffff;
background-color: var(--cor-3);
  height: var(--altura_bot_rod);
border-radius: 6px;
  align-content: center;
  justify-content: center;
  margin:0 0.3rem;
  display: flex;
align-items: center;

text-align: center;
font-weight: 800;
/* border:4px solid white; */
/* text-shadow: 1px 1px 2px rgb(255, 255, 255); */
}


.botao_rod:hover {
  background-color:var(--cor-vermelho);
  /* color:black; */
  font-weight: 700;
  /* border-radius: -6px; */
  /* text-shadow: 2px 2px 4px black; */
  /* opacity: 0.8; */
  transition: 0.3s ease-out;
  /* padding-bottom: 12px; */
  /* transform: scale(1.03); */
  font-weight: 1000;
  /* border:5px solid white; */
}




.texto_grande_rodape{
  padding:1rem 2rem;
  position: relative;
  text-align: justify;
  top: 0.5rem;
  /* left:3rem; */
  
  max-width: 36rem;
  min-width: 36rem;
  /* width: 200% ; */
  
  font-weight: 600;
  
  /* border:5px solid pink; */
}

.texto{
  padding:1.5rem 1.5rem;
  position: relative;
  text-align: justify;
  background-color: rgb(255, 255, 255);
  background-color: var(--cor-fundo);

  /* border-bottom: 2px var(--cor-azul) solid   ; */
  /* border-right: 4px var(--cor-vermelho-claro) solid   ; */
  border-bottom: 4px var(--cor-vermelho-claro) solid   ;
  /* box-shadow: 1px 2px 0px 1px  var(--cor-azul) ; */
  border-radius: 10px;
  font-size: 1.15rem;
  width: 40%;
  min-width: 300px;
  min-height:auto;
  font-weight: 600;
  margin-bottom: 2rem;
  /* top:-3rem; */
  /* left: -5rem; */
  /* border: red solid 2px; */
}

.texto_entregas{
  padding:3rem 3rem;
  position: relative;
  text-align: justify;
  /* border-right: 1px black solid   ; */
  /* border-left: 1px black solid   ; */
  background-color: rgb(255, 255, 255);
  /* border-bottom: 2px var(--cor-azul) solid   ; */
  border-right: 2px var(--cor-azul) solid   ;
  border-left: 2px var(--cor-azul) solid   ;
  box-shadow: 1px 2px 0px 1px  var(--cor-azul) ;
  border-radius: 40px;
  font-size: 1.15rem;
  top: 0.5rem;
  box-shadow: 2px 6px 10px 2px rgb(0, 0, 0,0.6);
  /* left:10%; */
  margin-left: 8rem;
  left:-4rem;
  width: 20%;
  min-width: 280px;
  height: 20rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.texto_entregas_b{
  padding:3rem 3rem;
  position: relative;
  text-align: justify;
  /* border-right: 1px black solid   ; */
  /* border-left: 1px black solid   ; */
  background-color: rgb(255, 255, 255);
  /* border-bottom: 2px var(--cor-azul) solid   ; */
  border-right: 2px var(--cor-azul) solid   ;
  border-left: 2px var(--cor-azul) solid   ;
  box-shadow: 1px 2px 0px 1px  var(--cor-azul) ;
  border-radius: 40px;
  font-size: 1.15rem;
  top: 0.5rem;
  box-shadow: 2px 6px 10px 2px rgb(0, 0, 0,0.6);
  /* left:10%; */
  margin-left: 8rem;

  left:-4rem;
  width: 30%;
  min-width: 280px;
  height: 20rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.titulo_texto_grande{
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  /* border:1px rgb(59, 34, 5) solid; */
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  /* color:var(--cor-3); */
}



.item{
   min-height:4rem;
  /* max-height: 6rem; */
 
  margin-bottom: 1.46rem;
  /*padding-left: 1.4rem;
  padding-right: 1.6rem; */
  /* border:pink 2px solid; */
  /* overflow-wrap: break-word; */

  display: grid; 
  grid-template-columns: 2.6fr 0.4fr; 
  grid-template-rows: 1fr 2fr; 
  gap: 1rem 5rem; 
  grid-template-areas: 
    ". ."
    ". ."; 
    /* overflow:hidden */
    /* grid-auto-rows: minmax(min-content, max-content); */
    /* grid-auto-rows :auto; */
}
.item_grande{
  min-height:4rem;
 /* max-height: 6rem; */
 margin-bottom: 1.46rem;
 /* border:pink 2px solid; */
 display: grid; 
 grid-template-columns: 2.4fr 0.1fr 0.5fr; 

 grid-template-rows: 1fr 2fr; 
 gap: 1rem 5rem; 
 grid-template-areas: 
   ". ."
   ". ."; 

}

.item_sombra{
  padding:10px; 
}
.item_sombra:hover{
  box-shadow: 0 0 10px 6px rgb(255, 249, 165);
  box-shadow: 0 0 10px 6px rgb(240, 240, 240);
  box-shadow: 2px 8px 10px 1px rgb(184, 184, 184);
  border-radius: 20px;
  /* padding: 1px; */
  cursor: pointer;
}

.item_grande_ativo{
  min-height:4rem;
 /* max-height: 6rem; */
 margin-bottom: 1.46rem;
 /* border:pink 2px solid; */
 display: grid; 
 grid-template-columns: 2.4fr 0.1fr 0.5fr; 
 grid-template-rows: 1fr 0fr; 
 gap: 1rem 5rem; 
 grid-template-areas: 
   ". ."
   ". ."; 
}
.item_grande_descricao_ativo{
  min-height:4rem;
 /* max-height: 6rem; */
 margin-bottom: 1.46rem;
 /* border:pink 2px solid; */
 display: grid; 
 grid-template-columns: 2.4fr 0.1fr 0.5fr; 
 grid-template-rows: 1fr 2fr; 
 gap: 1rem 5rem; 
 grid-template-areas: 
   ". ."
   ". ."; 
}
.item_simples{
  min-height:4rem;
 /* max-height: 6rem; */
 margin-bottom: 0.5rem;
 /*padding-left: 1.4rem;
 padding-right: 1.6rem; */
 /* border:pink 2px solid; */
 /* overflow-wrap: break-word; */

 display: grid; 
 grid-template-columns: 2.6fr 0.4fr; 
 grid-template-rows: 1fr 0fr; 
 gap: 1rem 5rem; 
 grid-template-areas: 
   ". ."
   ". ."; 
   /* overflow:hidden */
   /* grid-auto-rows: minmax(min-content, max-content); */
   /* grid-auto-rows :auto; */
}
.item_simples_descricao{
  min-height:4rem;
 /* max-height: 6rem; */
 margin-bottom: 1rem;
 /*padding-left: 1.4rem;
 padding-right: 1.6rem; */
 /* border:pink 2px solid; */
 /* overflow-wrap: break-word; */

 display: grid; 
 grid-template-columns: 2.6fr 0.4fr; 
 grid-template-rows: 1fr 0fr; 
 gap: 0rem 5rem; 
 grid-template-areas: 
   ". ."
   ". ."; 
   /* overflow:hidden */
   /* grid-auto-rows: minmax(min-content, max-content); */
   /* grid-auto-rows :auto; */
}
.item_simples_ativo{
  min-height:4rem;
 /* max-height: 6rem; */
 margin-bottom: 0.5rem;
 /*padding-left: 1.4rem;
 padding-right: 1.6rem; */
 /* border:pink 2px solid; */
 /* overflow-wrap: break-word; */

 display: grid; 
 /* grid-template-columns: 2.4fr 0.6fr; 
 grid-template-rows: 1fr 0.2fr ; 
 gap: 1rem 12rem;  */
 
 grid-template-columns: 2.6fr 0.4fr; 
 grid-template-rows: 1fr 0fr; 
 gap: 1rem 5rem; 
 
 grid-template-areas: 
   ". ."
   ". ."; 
   /* overflow:hidden */
   /* grid-auto-rows: minmax(min-content, max-content); */
   /* grid-auto-rows :auto; */
}
.item_simples_descricao_ativo{
  min-height:4rem;
 /* max-height: 6rem; */
 margin-bottom: 0.5rem;
 /*padding-left: 1.4rem;
 padding-right: 1.6rem; */
 /* border:pink 2px solid; */
 /* overflow-wrap: break-word; */

 display: grid; 
 grid-template-columns: 2.4fr 0.6fr; 
 grid-template-rows: 0.6fr 0.2fr ; 
 gap: 1rem 8rem; 
 grid-template-columns: 2.6fr 0.4fr; 
 grid-template-rows: 1fr 0fr; 
 gap: 0rem 5rem; 
 grid-template-areas: 
   ". ."
   ". ."; 
   /* overflow:hidden */
   /* grid-auto-rows: minmax(min-content, max-content); */
   /* grid-auto-rows :auto; */
}
.item_ativo{
  min-height:4rem;
 /* max-height: 6rem; */
 margin-bottom: 1.46rem;
 /*padding-left: 1.4rem;
 padding-right: 1.6rem; */
 /* border:pink 2px solid; */
 /* overflow-wrap: break-word; */

 display: grid; 
 grid-template-columns: 2.4fr 0.1fr 0.5fr; 
 grid-template-rows: 1fr 2fr; 
 gap: 1rem 5rem; 
 grid-template-areas: 
   ". ."
   ". ."; 
   /* overflow:hidden */
   /* grid-auto-rows: minmax(min-content, max-content); */
   /* grid-auto-rows :auto; */
}

.item_ativo_img{
  object-fit: cover;
  border-radius: var(--radius-peq);
  justify-self: center;
  /* width: 200px; */
  display: absolute;
  position: relative;
  left:6rem;
}
.item_categoria{
  font-size: 1.6rem;
  margin-top: 1rem;
  /* margin-bottom: 2rem; */
  /* min-height: 14rem; */
  /* margin-bottom: 1.5rem; */
  text-align: center;
position: relative;
/* left: 38%; */
  /* border:1px rgb(59, 34, 5) solid; */
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-weight: 1000 ;
  font-family: Palatino;
  font-size: 35px;
  /* color:var(--cor-3); */
  /* margin-bottom: 4rem; */
}



.item_nome{
  position: relative;
  top: 4px;
  /* top:-0.6rem; */
  font-weight: 800;
  /* border:pink 2px solid; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-family: fantasy; */
  font-size: 19px;
  /* border: orange 1px solid; */
}




.item_descricao{
  position: relative;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-size: large;  */
 /* text-align: justify; */
 /* border: orange 1px solid; */
  /* left:-48px; */
  /* border:orange 1px solid; */
  /* word-wrap: break-word; */
  /* overflow-wrap: break-word; */
}

.item_preco{
  /* position: relative;
  top:30px;
  left:-48px; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  /* border:red 1px solid; */
  /* font-weight: 600;   */
}
.item_container{
margin-bottom: 2rem;
  
}
@media screen and (max-width: 700px) {
  .item{
    grid-template-columns: 2.6fr 0.4fr; 
    grid-template-rows: 1fr 2fr; 
    gap: 1rem 2rem; 
    width: 80vw;
  }
  .item_grande{
    
    grid-template-columns: 2fr 0.1fr 0.5fr; 
    grid-template-rows: 1fr 2fr; 
    gap: 1rem 2rem; 
  }
  .item_grande_ativo{
    
    grid-template-columns: 2fr 0.1fr 0.5fr; 
    grid-template-rows: 1fr 0fr; 
    gap: 1rem 2rem; 
    margin-bottom: 1rem;
  }
  .item_grande_descricao_ativo{
    
    grid-template-columns: 2fr 0.1fr 0.5fr; 
    grid-template-rows: 1fr 2fr; 
    gap: 1rem 2rem; 
    margin-bottom: 1rem;
  }
 
  .item_simples{
    /* grid-template-columns: 2.6fr 0.4fr; 
    grid-template-rows: 1fr 2fr; 
    gap: 1rem 2rem;  */
    grid-template-columns: 2.6fr 0.4fr; 
 grid-template-rows: 1fr 0fr; 
 gap: 1rem 5rem; 

  }
  .item_simples_descricao{
    min-height:4rem;
   /* max-height: 6rem; */
   margin-bottom: 1.6rem;
    /* border:orange 1px solid; */
   display: grid; 
   grid-template-columns: 2.6fr 0.4fr; 
   grid-template-rows: 1fr 2fr; 
   gap: 1rem 1rem; 
   grid-template-areas: 
     ". ."
     ". ."; 
  }
  .item_simples_descricao_ativo{
    min-height:4rem;
   /* max-height: 6rem; */
   margin-bottom: 0.5rem;
   /*padding-left: 1.4rem;
   padding-right: 1.6rem; */
   /* border:pink 2px solid; */
   /* overflow-wrap: break-word; */
  
   display: grid; 
   grid-template-columns: 2.8fr 0.2fr; 
   grid-template-rows: 0.3fr 0.7fr ; 
   gap: 1rem 2rem; 
   grid-template-areas: 
     ". ."
     ". ."; 
     margin-bottom: 1rem;
     /* overflow:hidden */
     /* grid-auto-rows: minmax(min-content, max-content); */
     /* grid-auto-rows :auto; */
  }
  .botao_pag{
     /* margin: 0 1rem ; */
     width: 100vw;
  height: 2rem;
  align-self: center;
  justify-self: center;
  /* left:0; */
  font-family: Palatino;
  margin:0;

  }
  .botao_rod{
    /* margin: 0 1rem ; */
    /* width: 5.5rem; */
    /* scroll-behavior: smooth; */
      width: 100vw;
  height: 2rem;
  align-self: center;
  justify-self: center;
  border-radius: 0;
  /* left:0; */
  margin:0;
  background: var(--cor-3);
    
 }

 .texto_grande_rodape{
  /* padding:1rem 2rem; */
  /* position: relative; */
  /* text-align: justify; */
  /* top: 0.5rem; */
  /* left:3rem; */

  max-width: 98%;
  min-width: 98%;
  /* width: 200% ; */
  
  font-weight: 600;
  
  /* border:5px solid pink; */
}


.texto{
 /* border: red solid 2px; */
 top:8rem;
 margin-bottom: 2rem;
 min-height: 24rem;
   }
.texto_entregas{
 
  top:8rem;
  margin-bottom: 2rem;

   }
   .texto_entregas_b{
 
    top:8rem;
    margin-bottom: 2rem;
   min-height: 24rem;
     }
 
  .navegacao{
    /* position:relative; */
    width: 100vw;
    /* left: 10vw; */
    height:auto;
    /* overflow-x: scroll;
    overflow-y: hidden; */
    /* align-content: space-around; */
/* border: 2px red solid; */
/* justify-content: space-evenly; */
    /* height: 80px; */
    /* white-space:pre-wrap; */
  }
  .cartao_3_titulo{
    top:2rem;
    height: 4rem;
 }
  .cartao_3{
    width: 100%;

    /* font-size: 1.6rem; */
    /* margin-top: 1rem; */
    /* border:1px rgb(59, 34, 5) solid; */
    /* background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color:var(--cor-3); */
    min-width: 80%;
    margin:1rem 0  0 2rem;
    position: relative;
    /* left:-100%; */
   /*  scroll-behavior: smooth;
    justify-content: center; */
    /* border: red solid 2px */
    /* box-shadow: 1px 2px 2px 5px  black; */
    /* box-shadow: 0 0 15px 1px rgb(211, 211, 211); */
    /* box-shadow: inset 0 0 15px 5px rgba(0,0,0,0.75); */
  
  }
  

}