

.logo{

    align-self: center;
    justify-self: center;
    margin-left:2rem;
    margin-right:2rem;
    /* margin-top: 0.2rem; */
    min-width: 16rem;
    /* height:  var(--altura_cab); */
    text-align: center; 
}

.logo:hover {
  background-color: var(--cor-vermelho-claro);
  /* color:var(--cor-2); */
  /* font-weight: 700; */
  border-radius: 10px;

  /* text-shadow: 2px 2px 4px black; */
  /* opacity: 0.9; */
  transition: 0.2s ease-out;
  padding-bottom: 4px;
  /* transform: scale(1.03); */
  box-shadow: 0 0 10px 6px rgb(255, 249, 165);
  color: #ffffff;
    font-weight: 1000;
    cursor: pointer;
  /* border:5px solid white; */
}


.botao_pag{
  

  background-color: var(--cor-vermelho);
    min-width: 3rem;
    width: 10vw;
    /* color:var(--cor-2); */
    color: #ffffff;
    /* height: var(--altura_bot); */
    /* height: 10px; */
    height: var(--altura_bot);
      /* /* border-left:8px  rgb(255, 255, 255) solid; */
      /* border-right:  2px  rgb(83, 83, 83) solid;  */
  border-radius: 1px;
    align-content: center;
    justify-content: center;
    /* text-align: center;
    text-justify: auto; */
    margin:0 0.3rem;
    display: flex;
  align-items: center;

  text-align: center;
  font-weight: 900;
  /* border:4px solid white; */
  /* text-shadow: 1px 1px 2px rgb(255, 255, 255); */
}



.botao_pag:hover {
  background-color: var(--cor-vermelho-claro-2);
  /* color:var(--cor-2); */
  /* font-weight: 700; */
  border-radius: 10px;
  /* text-shadow: 2px 2px 4px black; */
  /* opacity: 0.9; */
  transition: 0.2s ease-out;
  padding-bottom: 6px;
  /* transform: scale(1.03); */
  box-shadow: 0 0 10px 2px rgb(255, 249, 165);
  color: #ffffff;
    font-weight: 1000;
  /* border:5px solid white; */
}


.botao_titulo_sobe{
background-color: var(--cor-vermelho);
display: inherit;
height: 95%;
width: 95%;
border-radius: 8px;
justify-content: center;
text-align: center;
justify-items: center;
align-items: center;
}
/* titulo */
.busca{
    position: relative;
    left:20%;
    min-width: 3rem;
    width: 10vw;
    /* height: 4rem; */
    border: 2px pink solid;
    align-items: center;
    align-content: unset;
    justify-content: flex-end;
    /* text-align: center;
    text-justify: auto; */
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: var(--altura_bot);
}

/* fazer ele um componente que aceita props, entao vai ser centralizado ou na esquerda, ou largura total, ou largura 60%, altura, etc */
.texto_grande{
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  padding:1rem;

  line-height: 1.4;

  border-radius: 50px;
 border-right: 2px var(--cor-1) solid; ;
  position: relative;
  border-left: 2px var(--cor-1) solid;
  left:var(--margem-esq);
  margin-top: 6vh;
  margin-bottom:var(--espaco_baixo);
  padding: 2rem 10rem;
  
}



.cartao_3{
  width: 50%;
  text-align:center ;
  word-wrap: break-word;
  justify-items: center;
  height: auto;
  padding-top: 0.4rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  /* border:1px rgb(59, 34, 5) solid; */
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color:var(--cor-3);
  margin:1rem 0  0 2rem;
  position: relative;
  left:-1%;
  scroll-behavior: smooth;
  justify-content: center;
  
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 700;

  /* box-shadow: 1px 2px 2px 5px  black; */
  /* box-shadow: 0 0 15px 1px rgb(211, 211, 211); */
  /* box-shadow: inset 0 0 15px 5px rgba(0,0,0,0.75); */

}

.cartao_3:hover{
background-color: rgb(255, 211, 161); ;
/* opacity: 0.95; */
  transition: 0.2s ;

}

.cartao_3_img{
  object-fit: cover;
  border-radius: var(--radius-peq);
}
.conteudo_cartao_3{
  /* margin-top: 1rem;
  margin-left: 1rem; */
  text-align: center;
  align-self: center;
  max-width: 300px;
  padding: 1rem ;
font-size: 1rem;
color:rgb(46, 46, 46);
text-align: left; 
font-family:   sans-serif, Georgia, sans-serif;
font-weight: 600;
/* background-color: whitesmoke*/
/* border:1px red solid; */
position: relative;
left:9%;
} 



.divisoria{
  position: relative;
  top: 7.5rem;
  height: 15rem;
  border: 1px solid  var(--cor-azul);
}





.botao_rod{
  
  min-width: 3rem;
  width: 10vw;
  color: #ffffff;
background-color: var(--cor-3);
  height: var(--altura_bot_rod);
border-radius: 6px;
  align-content: center;
  justify-content: center;
  margin:0 0.3rem;
  display: flex;
align-items: center;

text-align: center;
font-weight: 800;
/* border:4px solid white; */
/* text-shadow: 1px 1px 2px rgb(255, 255, 255); */
}


.botao_rod:hover {
  background-color:var(--cor-vermelho);
  /* color:black; */
  font-weight: 700;
  /* border-radius: -6px; */
  /* text-shadow: 2px 2px 4px black; */
  /* opacity: 0.8; */
  transition: 0.3s ease-out;
  /* padding-bottom: 12px; */
  /* transform: scale(1.03); */
  font-weight: 1000;
  /* border:5px solid white; */
}



.item{
  height:4rem;
  padding-left: 1.4rem;
  padding-right: 1.6rem;
}

.item_nome{
  position: relative;
  top:-10px;
}
.item_descricao{
  position: relative;
  top:10px;
  left:-44px;
}
@media screen and (max-width: 600px) {
  .botao_pag{
     /* margin: 0 1rem ; */
     width: 100vw;
  height: 2rem;
  align-self: center;
  justify-self: center;
  /* left:0; */
  margin:0;

  }
  .botao_rod{
    /* margin: 0 1rem ; */
    /* width: 5.5rem; */
    /* scroll-behavior: smooth; */
      width: 100vw;
  height: 2rem;
  align-self: center;
  justify-self: center;
  border-radius: 0;
  /* left:0; */
  margin:0;
  background: var(--cor-3);
    
 }
 .navegacao_rod{
  /* overflow-x: scroll; */
  /* flex-wrap: wrap; */
  
  /* max-width: 100vw; */
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 10px;
 }
  .navegacao{
    /* position:relative; */
    width: 100vw;
    /* left: 10vw; */
    height:auto;
    /* overflow-x: scroll;
    overflow-y: hidden; */
    /* align-content: space-around; */
/* border: 2px red solid; */
/* justify-content: space-evenly; */
    /* height: 80px; */
    /* white-space:pre-wrap; */
  }
  .carrossel{
    /* position:relative; */
    flex-direction: column;
top:6rem;
  height: 90rem;
  /* align-self: center; */
  border-radius: 50px;
  justify-content: center;
  justify-items: center;
  align-self: center;
  /* position: relative; */
  border: 2px var(--cor-1) solid;
  /* padding: 1rem 0rem; */
   
  }

  .cartao_3{
    width: 80%;

    /* font-size: 1.6rem; */
    /* margin-top: 1rem; */
    /* border:1px rgb(59, 34, 5) solid; */
    /* background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color:var(--cor-3); */
    margin:1rem 0  0 2rem;
    /* position: relative; */
    /* left:-1%;
    scroll-behavior: smooth;
    justify-content: center; */
  
    /* box-shadow: 1px 2px 2px 5px  black; */
    /* box-shadow: 0 0 15px 1px rgb(211, 211, 211); */
    /* box-shadow: inset 0 0 15px 5px rgba(0,0,0,0.75); */
  
  }
  

}