@font-face {
  font-family: League Mono Variable;
  src: url(LeagueMono-WideThin.woff);
}

@font-face {
  font-family: LigaBold;
  src: url(LeagueMono-Bold.woff);
}

@font-face {
  font-family: Palatino;
  src: url(palatino-bold.ttf);
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #ffffff;
}

::-webkit-scrollbar
{
  width: 14px;
  height: 10px;
  background-color:var(--cor-douradinho);
}
::-webkit-scrollbar-thumb
{
  background-color: var(--cor-dourado);
  /* border: 2px solid #555555; */
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,Verdana,Roboto,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-size: 1rem; */
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

:root{ 



  --cor-azul: #013567;
  --cor-azul-claro: #013567;
  --cor-azul-mais-claro: #bfd1e2;
  --cor-vermelho:#a00707;
  --cor-vermelho-claro:#cc4242;
  --cor-vermelho-claro-2:#dd4343;
  --cor-vermelho-claro-3:#cc3a3a;

--cor-douradinho:rgb(255, 249, 165);
--cor-dourado:rgb(255, 244, 96);

--cor-1: #013567;
--cor-2: #17446d;
--cor-3: #17446d;
--cor-fundo:hsl(66, 100%, 98%);
--cor-fundo-2:hsl(60, 100%, 99%);
--tile-size: 50px;

--margem-esq:5vw;
--espaco_baixo:4rem;


--altura_rod:22.5rem;
--altura_bot:4rem;
--altura_bot_rod:2.5rem;
--altura_nav:5rem;
--altura_nav_vert:25vh;
--altura_cab:4rem;

--border-width: 2px;
--border-radius: 4px;

--radius-gd:50px;

--radius-peq:10px;

--radius-min:6px;
/* width: var(--tile-size); */

}




@media screen and (max-width: 700px) {
  :root{ 
  --altura_bot:5rem;
--altura_nav:10rem;
--altura_cab:10rem;
 }
   }

   .inline{
    display: flex;
    flex-direction: row;
}