html,
body {
  padding: 0;
  margin: 0;
  font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,Verdana,Roboto,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-size: 1rem; */
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

:root{ 



  --cor-azul: #013567;
  --cor-azul-claro: #013567;
  --cor-azul-mais-claro: #bfd1e2;
  --cor-vermelho:#a00707;
  --cor-vermelho-claro:#cc4242;
  --cor-vermelho-claro-2:#dd4343;



--cor-1: #013567;
--cor-2: #17446d;
--cor-3: #17446d;
--cor-fundo:hsl(66, 100%, 98%);
--tile-size: 50px;

--margem-esq:5vw;
--espaco_baixo:4rem;


--altura_rod:5.5rem;
--altura_bot:4rem;
--altura_bot_rod:2.5rem;
--altura_nav:5rem;
--altura_nav_vert:25vh;
--altura_cab:4rem;

--border-width: 2px;
--border-radius: 4px;

--radius-gd:50px;

--radius-peq:10px;

--radius-min:6px;
/* width: var(--tile-size); */

}

@media screen and (max-width: 600px) {
  :root{ 
  --altura_bot:5rem;
--altura_nav:10rem;
--altura_cab:10rem;
 }
   }

   .inline{
    display: flex;
    flex-direction: row;
}